.namewithicon {
    font-size: 14px;
}
.filter__price {
    .filter__input {
        input {
            width: 45%;
            border: none;
            padding: 5px;
            outline: none;
            background-color: #f8f8f7;
            border-radius: 5px;
            margin: 10px 0;
        }
        display: flex;
        gap: 1em;
        justify-content: space-between;
    }
    button {
        background-color: #c8322d;
        color: white;
        outline: none;
        border: none;
        width: 100%;
        cursor: pointer;
        font-weight: 600;
        padding: 5px;
        border-radius: 5px;
    }
}
.whitecontainer {
    ul {
        li {
            font-size: 12px;
            list-style: none;
            margin-bottom: 5px;
        }
    }
}
