.categoriescontainer {
    padding: 20px;
    display: flex;
    border-radius: 10px;
    margin-top: 40px;
    flex-direction: column;
    &__header {
        display: flex;
        justify-content: space-between;
        padding-bottom: 20px;
        .namewithicon {
            display: flex;
            gap: 10px;
            span {
                font-weight: 600;
            }
        }

        span {
            font-weight: 600;
            cursor: pointer;
            .more {
                display: flex;
                justify-content: space-between;
                gap: 0.5em;
            }
        }
    }
    // .categoriescontainer__products {
    //     display: grid; /* 1 */
    //     grid-template-columns: repeat(auto-fill, 130px); /* 2 */
    //     grid-gap: 1rem; /* 3 */
    //     justify-content: space-between; /* 4 */
    // }
}
