$block: ".quantity-input";

#{$block}__left,
#{$block}__right {
    border-radius: 50px;
    border: none;
    width: 21px;
    height: 21px;
    cursor: pointer;
    outline: none;
    color: #333;
}
.quantity-input {
    margin: 5px 10px;
    outline: none;
    background-color: transparent;
    width: 30px;
    text-align: center;
    border: none;
}
