.footer {
    background-color: white;
    margin-top: 40px;
    &__container {
        padding: 80px 0;
        .ant-row {
            .ant-col {
                min-width: 200px;
            }
            .footer__followandpayment {
                .follow {
                    ul {
                        li {
                            display: flex;
                            gap: 0.2rem;
                            box-icon {
                                opacity: 0.8;
                            }
                        }
                    }
                }
            }
            h1 {
                font-weight: 600;
                font-size: 15px;
                margin-bottom: 20px;
                color: #606060;
            }
            ul {
                a {
                    color: #606060;
                    li {
                        margin-bottom: 5px;
                        list-style: none;
                    }
                }
            }

            .footer__address {
                img {
                    opacity: 1;
                    max-width: 80px;
                    margin-bottom: 20px;
                }
                h2 {
                    font-weight: 600;
                    font-size: 15px;
                    color: #606060;
                }
                p {
                    margin-bottom: 10px;
                    color: #606060;
                }
            }
            .footer__followandpayment {
                .payment {
                    margin-top: 40px;
                    .payment__option {
                        gap: 0.5rem;
                        display: flex;
                        flex-wrap: wrap;
                        img {
                            max-width: 85px;
                            opacity: 1;
                            border-radius: 5px;
                            :hover {
                                opacity: 0.7;
                                transition: 0.3s;
                            }
                        }
                    }
                }
            }
        }
    }
    &__copyright {
        color: #606f7b;
        text-align: center;
    }
}
