.cartItem {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    .cartItem__product {
        display: flex;
        gap: 1em;
        flex-basis: 100%;
        justify-content: space-evenly;
        .cartItem__checkbox {
            display: flex;
            align-items: center;
        }
        img {
            max-width: 100px;
            border-radius: 5px;
            max-height: 100px;
        }
        .cartItem__detail {
            margin-bottom: 10px;
            width: 100%;
            p {
                font-size: 14px;
            }
            .cartItem__quantity {
                display: flex;
                align-items: center;
                gap: 0.5em;
                span {
                    font-size: 12px;
                }
            }
            .price {
                font-size: 12px;
                strike {
                    margin-left: 0.5em;
                    color: #b8b8b8;
                }
            }
        }
    }
    box-icon {
        cursor: pointer;
    }
    li {
        border-bottom: 1px solid #e5e5e5;
        &:last-child {
            border: none;
        }
    }
}
