.noProductFound {
    display: flex;
    flex-direction: column;
    padding: 5vh 0;
    text-align: center;
    .big__icons {
        font-size: 100px;
    }
    h3 {
        margin-top: 15px;
    }
    p {
        color: grey;
    }
}
