.navbar {
    display: flex;
    .categories {
        display: flex;
        align-items: center;
        font-weight: 600;
        justify-content: flex-start;
        // width: 250px;
        width: calc(min(30%, 250px));
        position: relative;
        border-radius: 10px 10px 1px 1px;
        padding: 5px 20px;
        cursor: pointer;
        gap: 0.5em;
        background-color: #f8f8f7;
    }
    .navbar__right {
        ul {
            display: flex;
            li {
                list-style: none;
                display: flex;
                align-items: center;
                padding: 5px 10px;
                font-weight: 600;
                span {
                    margin-left: 2px;
                }
            }
        }
    }
}

.categories__menu {
    width: calc(min(30%, 250px));
    background-color: white;
    position: absolute;
    height: 425px;
    margin-top: 45px;
    z-index: 555;

    .ant-menu-vertical .ant-menu-submenu-title {
        margin: 0;
    }
}

.categoriessubmenu__container {
    height: 100px;
    width: 100px;
    color: red;
    display: none;
}
